*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: rgb(252, 254, 255);
}

.faq-container{
    width:80vw;
    background-color: rgb(0, 0, 0);
    margin:50px auto;
    border-radius: 5px;
    padding:30px;
}
.faq-ques{
    display:flex;
    justify-content:space-between;
    width:80%;
    background-color: antiquewhite;
    margin:20px auto;
    border-radius: 5px;
    padding:20px;
}
#ques-icon{
    background-color:black;
    border-radius:50%;
    border:none;
    width:25px;
    height:25px;
    cursor:pointer;
    padding:10px auto;

}
.faq-text{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    width:80%;
}
.fa-icon{
    font-size: 15px;
    color:#fff;
}

.faq-info{
    width:80%;
    margin:10px auto;
    color:white;
}